
body {
  overflow-x: hidden;
}

.toggle {
  display: none;
}

.toggle.on {
  display: block;
}

.fa-compact-disc {
  margin: 2% 0.7%;
  
}

a {
  text-decoration: none;
  color: #242423;
}

/*header-nav*/
header{
  width: 100%;
  margin: 0%;
  padding: 0%;
}
header .logo {
  margin:5% 0% 0% 0%;
  
}

header img:hover {
  border-bottom: 2px solid #565d8f;
}

.header_toggle {
  display: none;
}

.header_toggle.on {
  display: flex;
  list-style: none;
  width: 100%;
  margin: auto 0;
  padding: 0%;

}

.header_toggle.on ul {
  width: 12.5%;
  margin: 0;
  padding-left: 0%;
}

.header_toggle.on li {
  list-style: none;
  padding-bottom: 5px;

}

.header_toggle.on li:nth-child(1) {
  height: 30px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}

.header_toggle.on li a {
  font-size: 100%;
}

.header_toggle.on li a:any-link {
  text-decoration: none;
  color: #303030;
}

.header_toggle.on li a:hover {
  font-weight: bolder;
}

/*inner*/
.inner {
  display: flexbox ;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 2% 10%;
  width: 80%;
  height: 100%;
}

.music > i {
  padding-left: 10px ;
  
}
.music {
  padding:2vh 5vw;
  
}

#music_platform {
  display: flex;
  justify-content: space-around;
  margin-left: 60%;
  margin-bottom: 3%;
 
}
.fa-compact-disc{
  font-size: 2.3vw;
}
.mixtape {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  position: relative;
  flex-wrap: wrap;
}

.cover {
  width: 20vw;
  height: 20vw;
 
}

.cover img{
  width: 100%;
  height:100%;
}
.tracklist {
  margin: 0;
  padding: 0;
  width: 22vw;
  height: 20vw;
  box-sizing: border-box;
  overflow: auto;
}

#lyric_place {
  width: 25vw;
  height: 20vw;
  overflow: auto;
  margin: 0;
  padding-left:1%;
  box-sizing: border-box;
}

#lyric_place pre{
  width: 100%;
}

.tracklist ul {
  list-style: none;
  padding: 0.5% 10%;
  margin: 0;

}

.toggle_btn {
  margin: 3% 0;
}


#lyric_place .toggle {
  display: none;
}

#lyric_place .toggle.on {
  display: block;
}
#lyric_place .no_lyric {
  padding: 10% 17% ;
  
}
.mv{
  height: 44vw;
  margin-bottom: 10vh;
  box-sizing: border-boxs;
}
/*mv slider*/
.mv_container {
  position: relative;

}

.mv_button {
  margin: 0  7%;
  
}
.mv_button i {
  height: 4vw;
}
.mv_button div{
  padding-left:5%;
  display: flex;
  justify-content: center;
}
.mv_button div p{
  margin: 2vw 5%;
}

#prev.disabled,
#next.disabled {
  display: none;
}


/*behind 카데고리가 없는 페이지는 다로 margin bottom 을 15vh 로 조정해야 함 */

.slider-container {
  position: relative;
  width: 100%;
  height: 40vw;
  padding: 0;
  display: flex;
  box-sizing: border-box;

}

.slider-container.animated {
  -webkit-transform: left .3s ease-in;
  transition: left .3s ease-in;
  padding: 0;
  margin: 0;
  height: 100%;
}

.slide {
  display: block;
  position: absolute;
  top: 0 ;
  padding-left: 7%;
  border-style: solid;
  border-color:green;
}

iframe{
  width: 70vw;
  height:39.375vw ;
}
.behind{
  padding: 80px 5vw 0 5vw;
  margin: 5vh 0;
  
}
.behind div{
  padding-top: 5%;
}

.more {
  display: flex;
  justify-content: space-around;
  width: 70vw;
  margin: 0% 7%;
}

.more .twitter img{
  width: 7vw;
  height: auto;
}
.more .toggle {
  display: none;
}

.more .toggle.on {
  display: block;

}

.more .toggle.on a {
  display: block;
  text-decoration: none;
  margin: 0;
}

.more .toggle.on a:hover {
  font-weight: bolder;

}

footer{
  margin: 8vh 16% ;
  padding: 0;
 
}


@media (min-width:890px) {
  .mv , .more{
    margin-top: 30px;
  }
  
}
@media  (max-width:930px ){
  .music{
    padding:  4%;
  }
  .cover ,.tracklist {
    width: 35vw;
    height: 35vw;
    margin-bottom:20px;
  }

  #lyric_place {
    width: 72vw;
    height: 20vw;
    padding:0 10%;
  
  }
 
  footer{
    margin-top: 5vh;
  }
}
@media (max-width:900px) {
  .behind{
    padding-top: 30px;
  }
}
@media  (max-width:800px ){
  .header_toggle.on li {
    font-size: 2vw;
  }
  .header_toggle.on li:nth-child(1) {
    padding-top:10px;
    font-size: 2.3vw;
  }
 
  #music_platform{
  margin-left: 40%; 
  }
  .music{
    padding:  5%;
  }
  .fa-compact-disc{
    font-size: 3.5vw;
  }
  .cover {
    width: 32vw;
    height: 32vw;
  }
  .tracklist{
    width: 35vw;
    height: 32vw;
  }
  #lyric_place {
    width: 69vw;
    height: 20vw;
    padding:0 20%;
  
  }

  .more{
    margin: 13% 7%;
  }

}
@media (max-width:700px) {
  .behind{
    margin-top: ;
  }
  footer{
    font-size: 1vw;
  }

}
@media (max-width:623px) {
  .behind{
    margin-top: 0;
    padding-top: 0;
  }
}
@media (max-width:590px) {
  .behind{
    margin-top: 15px;
  }
}
@media (max-width:550px) {
  .header_toggle.on li {
    font-size: 1.5vw;
  }
  .header_toggle.on li:nth-child(1) {
    padding-top:10px;
    font-size: 2vw;
  }
  .music{
    padding: 2%;
    margin-bottom: 6%;
  }
  #music_platform i{
    font-size: 5vw;
  }
  .cover {
    width: 30vw;
    height: 30vw;
  }
  .tracklist{
    width: 35vw;
    height: 30vw;
  }
  #lyric_place {
    width: 68vw;
    height: 20vw;
    padding:0 20%;
  
  }
  
}

@media (max-width:460px) {
  
  .header_toggle.on li {
    font-size: 1.5vw;
  }
  .header_toggle.on li:nth-child(1) {
    padding-top:10px;
    font-size: 1.2vw;
  }
  .mv{
    margin-bottom: 80px;
  }
  .mv_button p {
    font-size: 1vw ;
  }

  .cover {
    width: 30vw;
    height: 30vw;
  }
  .tracklist{
    width: 38vw;
    height: 30vw;

  }
 
  #lyric_place {
    width: 70vw;
    height: 20vw;
    padding:0 20%;
  
  }

} 
@media (max-width:400px) {
  .mv{
    margin-bottom: 60px;
  }
}
@media (max-width:350px) {
  header .logo {
    height: 60px;
  }
  header .logo a  {
    font-size: 50px;
    padding-bottom: 5px;
  }
  header img {
    height: 43px;
    width: auto;
    margin: 8px 0 10px 10px ;
    padding: 0;
  }
  .header_toggle.on ul:nth-child(5) li {
    padding-left: 5px;
    padding-right: 5px;
  
  }
  .header_toggle.on ul:nth-child(7) li:nth-child(1){
    padding-left:10px ;
  }
  .header_toggle.on ul:nth-child(8) li {  padding-left: 10px ;
  }
  .header_toggle.on li {
    font-size: 0.5px;
  }
  .header_toggle.on li:nth-child(1) {
    font-size: 5px;
    padding-left: 0.1px;
  }
  .mv_button p {
    font-size: 0.5px ;
  }
  .more .twitter {
    font-size: 0.005vw;
  }

  footer{
    font-size: 0.05vw;
  }
}

@media (max-width:330px) {
  .mv{
    margin-bottom: 50px;
  }
}