
/*공통 기능*/
.toggle {
  display: none;
}

.toggle.on {
  display: block;
}

.fa-compact-disc {
  margin: 2% 0.7%; 
}
.popup {
  display: none;
}
.popup.on{
  display: initial;
}
a {
  text-decoration: none; 
  color: rgb(7, 7, 7) ;
}

a:hover{
  font-weight: bolder;
}

body {
  overflow-x: hidden;
}
pre {
  font-family: sans-serif;
}
/*header-nav*/
header{
  width: 100%;
  margin: 0%;
  padding: 0%;
}
header .logo {
  margin:5% 0 0 0;

}
header .logo img{
  padding-bottom: 10px;
}

header img:hover {
  border-bottom: 2px solid ;
}
.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 8px 0 ; 
}
.dropdown{
  display: flex;
  flex-direction: column;
}
.dropdown a{
  text-align: center;
  width: 100%;
}

.dropdown .toggle.on  {
  padding-left: 0;
  margin: 8px 20% ;
  width: 110%;

}

.dropdown .toggle.on li {
  list-style: none;
  margin:0 ;
  padding: 5px 0;
}

.dropdown .toggle.on li a:any-link {
  text-decoration: none;
}

.dropdown a ,
.dropdown .toggle.on a{
  font-size: 1.5vw;
  }
.sc_title{
  padding-left: 2%;
}
/*sc_list*/
.sc_list .toggle_btn:hover,
.sc_list .toggle a:hover{
  background-color: rgb(255, 183, 134);
}
.sc_list .inner ul {
  margin-top: 5vw;
}
.sc_list .inner li{
  margin-bottom: 3vw;
  height: 20vw;
}
.sc_list .inner li iframe{
  height: 90%;
}
.sc_list .inner li a{
  padding-left: 2%;
  margin: 10% 0;
}
/*inner*/
.inner {
  display: flex ;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 2% 10%;
  width: 80%;
  height: 100%;
}
li{
  list-style: none;
}

.music {
  padding-top:2vh; 
  padding-bottom:2vh;
}
#music_platform {
  display: flex;
  justify-content: space-around;
  margin-left: 60%;
  margin-bottom: 3%;
 
}
.fa-compact-disc {
  font-size: 2.3vw;
}
.fa-hashtag{
  font-size: 4vw;
}
.mixtape {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
  flex-wrap: wrap;
  padding-left: 2%;
}

.cover,
.cover a {
  width: 20vw;
  height: 20vw;
 
}

.cover img{
  width: 100%;
  height:100%;
}
.list {
  margin: 0;
  padding: 0;
  width: 22vw;
  height: 20vw;
  box-sizing: border-box;
  overflow: auto;
}

#content_place {
  width: 25vw;
  height: 20vw;
  overflow: auto;
  margin: 0;
  padding-left:1%;
  box-sizing: border-box;
}

#content_place pre{
  width: 100%;
}

.list ul {
  list-style: none;
  padding: 0.5% 10%;
  margin: 0;

}

.toggle_btn {
  margin: 3% 0;
}


#content_place .toggle {
  display: none;
}

#content_place .toggle.on {
  display: block;
}
#content_place .no_content {
  padding: 10% 17% ;
  
}
.mv{
  height: 50vw;
  box-sizing: border-boxs;
}
/*mv slider*/
.mv .slider-wrapper{
  height: 60vw;
}
.slider-wrapper {
  position: relative;
}

.slider-button{
  margin: 0;
}

.slider-button i {
  height: 4vw;
}
.slider-button div{
  padding-left:5%;
  display: flex;
  justify-content: center;
}
.slider-button div p{
  margin: 2vw 5%;
}

#prev.disabled,
#next.disabled {
  display: none;
}

/*behind 카데고리가 없는 페이지는 다로 margin bottom 을 15vh 로 조정해야 함 */

.slider-container {
  position: relative;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  height: 40vw;

}

.slider-container.animated {
  -webkit-transform: left .3s ease-in;
  transition: left .3s ease-in;
  padding: 0;
  margin: 0;
  height:40vw;
}

.slide {
  display: block;
  position: absolute;
  top: 0 ;
  
}
.mv {
  margin-bottom: 20px;
}
/* mv 하나일 때 */
.mv.one {
  padding: 0 5vw;
}
.mv.one iframe{
  padding-top: 2rem;
}


iframe{
  width:79vw;
  height: 39.75vw;
  padding-left: 2%;
}

.behind{
  margin:  0 ;
  
}
.behind div{
  padding-top: 8%;
}

.more {
  margin: 5% 0% 0 0%;
  padding-left: 2%;
}

.more .toggle_btn{
  display: block;
  width: 15%;
}
.more .twitter .toggle.on{
  padding-top: 1.5rem;
}

.more .toggle.on a {
  display: block;
  text-decoration: none;
  margin: 0;
}

footer{
  margin: 4vw 12% ;
  padding: 0;
}
footer p {
  font-size:2vw;
}

/* media query */ 
@media  (max-width:930px ){
  .music{
    padding:  4% 0%;
  }
  .cover ,.list {
    width: 35vw;
    height: 35vw;
    margin-bottom:20px;
  }

  #content_place {
    width: 72vw;
    height: 20vw;
    padding:0 10%;
  
  }
 
  footer{
    margin-top: 5vh;
  }
}

@media (max-width:900px) {
  .behind{
    padding-top: 30px;
  }
  .dropdown a ,
    .dropdown .toggle.on a{
    font-size: 2vw;
    }
}
@media (min-width:890px) {
  .mv , .more{
    margin-top: 30px;
  }
  
}
@media (min-width:806px) {
  .fa-hashtag{
    font-size: 2.5vw;
  }
}
@media  (max-width:800px ){ 
  #music_platform{
  margin-left: 40%; 
  }
  .music{
    padding:  5% 0%;
  }
  .fa-compact-disc{
    font-size: 3.5vw;
  }
  .more{
    margin: 13% 0%;
  }

}

@media (max-width:700px) {
  .dropdown a ,
  .dropdown .toggle.on a{
  font-size: 3vw;
  }
  footer{
    font-size: 1vw;
  }

}
@media (max-width:623px) {
  .behind{
    margin-top: 0;
    padding-top: 0;
  }
}
@media (max-width:590px) {
  .behind{
    margin-top: 15px;
  }
}
@media (max-width:540px) {
  .fa-hashtag{
    font-size: 3vw;
  }
}
@media (max-width:550px) {
  .music{
    padding: 2% 0%;
    margin-bottom: 6%;
  }
  #music_platform i{
    font-size: 5vw;
  }
}
@media (min-width:700px) {
  header .logo img{
    height: 60px;
  }
}
@media (max-width:460px) {
  .dropdown a ,
  .dropdown .toggle.on a{
  font-size: 3.3vw;
  }
  .mv{
    margin-bottom: 80px;
  }
  .slider-button p {
    font-size: 1vw ;
  }
} 
@media (max-width:400px) {

  .mv{
    margin-bottom: 60px;
  }
}

@media (max-width:350px) {
  header .logo {
    height: 60px;
    
  }
  header .logo a  {
    font-size: 50px;
    
  }
  header img {
    height: 43px;
    width: auto;
    margin: 8px 0 10px 10px ;
    padding: 0;
  }
  .dropdown{
    padding: 10px auto;
  }

  .more .twitter {
    font-size: 0.005vw;
  }

  footer{
    font-size: 0.05vw;
  }
}

@media (max-width:330px) {
  .mv{
    margin-bottom: 50px;
  }
  footer p{
    font-size:0.03vw ;
  }
}
