body {
  overflow-x: hidden;
}

.toggle {
  display: none;
}

.toggle.on {
  display: block;
}

.fa-compact-disc {
  margin: 2% 0.7%;
  font-size: 23px;
}

a {
  text-decoration: none;
  color: #242423;
}


/*header-nav*/
header .logo {
  margin: 0;
}

header img:hover {
  border-bottom: 2px solid #565d8f;
}

.header_toggle {
  display: none;
}

.header_toggle.on {
  display: flex;
  list-style: none;
  width: 100%;
  margin: auto 0;
  padding: 0%;

}

.header_toggle.on ul {
  width: 12.5%;
  margin: 0;
  padding-left: 0%;
}

.header_toggle.on li {
  list-style: none;
  padding-bottom: 5px;

}

.header_toggle.on li:nth-child(1) {
  height: 30px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}

.header_toggle.on li a {
  font-size: 100%;
}

.header_toggle.on li a:any-link {
  text-decoration: none;
  color: #303030;
}

.header_toggle.on li a:hover {
  font-weight: bolder;
}

/*inner*/
.inner {
  display: flexbox;
  flex-direction: column;
  margin: 2% 10%;
  width: 80%;
  height: 100%;


}

.music,
.behind {
  padding-left: 80px;
  padding-right: 80px;
}

#music_platform {
  display: flex;
  justify-content: space-around;
  margin-left: 60%;

}

.mixtape {
  margin-top: 20px;
  height: 300px;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  position: relative;
}

.cover img {
  width: 300px;
  height: 300px;
}

.tracklist {
  margin: 0;
  padding: 0;
  width: 30%;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

#lyric_place {
  width: 40%;
  height: 100%;

}

.tracklist ul {
  list-style: none;
  padding: 0.5% 10%;


}

.toggle_btn {


  margin: 3% 0;

}


.tracklist .toggle {
  display: none;
}

.tracklist .toggle.on {
  height: 100%;
  width: 40%;
  display: block;
  position: absolute;
  top: 0;
  left: 628px;
  overflow-x: auto;
  margin: 0;
  padding: 0;
  line-height: ;
}

section:nth-child(2) {
  margin-top: 3%;
}

/*mv slider - 왜 따로 파일을 만들면 안될까?*/
.mv_container {
  position: relative;

}

.mv_button {
  margin: 0% 7%;
}

.slider-container {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0;
  margin-top: 10px;
}

.slider-container.animated {
  -webkit-transform: left .3s ease-in;
  transition: left .3s ease-in;
}

.slide {
  position: absolute;
  top: 0;
  width: 86%;
  padding: 5% 7%;

}

/*div section:nth-child(2){
  position: relative;
  height: 660px;
}*/
#prev {
  position: absolute;
  top: 310px;
  left: 10px;
}

#next {
  position: absolute;
  top: 310px;
  right: 10px;

}

#prev.disabled,
#next.disabled {
  display: none;
}


.behind div {
  display: flex;
  justify-content: space-around;

}

.more {
  display: flex;
  justify-content: space-around;
  margin: 5% 7%;
}

.more .toggle {
  display: none;
}

.more .toggle.on {
  display: block;

}

.more .toggle.on a {
  display: block;
  text-decoration: none;
}

 .more .toggle.on a:hover {
  font-weight: bolder;

}

/*media query

ipad pro
@media  (width:1024px ,height:1366px){

}
@media (max-width:770px){
  header .toggle.on{
    height: 35px;
    padding: 6.5px 20% 6px 20%;
   
  }
  
  header .toggle.on li a { 
    font-size: 130%;
  }
  
}
@media (max-width:670px){
  header .toggle.on{
    height: 20px;
    padding:1px 20% 6px 20%;
   
  }
  
  header .toggle.on li a { 
    font-size: 100%;
  }
  
}
@media (max-width:540px){
  header .toggle.on{
    height: 20px;
    padding:1px 20% 6px 20%;
   
  }
  
  header .toggle.on li a { 
    font-size: 80%;
  }
  
}

@media (max-width:420px){
  header .toggle.on{
    height: 20px;
    padding:1px 10% 6px 10%;
   
  }
  
  header .toggle.on li a { 
    font-size: 90%;
  }
  
}
@media (max-width:390px){
  header .toggle.on{
    height: 20px;
    padding:1px 12% 6px 12%;
   
  }
  
  header .toggle.on li a { 
    font-size: 20%;
  }
  
}*/
