body {
  overflow-x: hidden;
}

.toggle {
  display: none;
}

.toggle.on {
  display: block;
}

.fa-compact-disc {
  margin: 2% 0.7%;
  font-size: 23px;
}

a {
  text-decoration: none;
  color: #242423;
}


/*header-nav*/
header .logo {
  margin: 5% 0%;
}

header img:hover {
  border-bottom: 2px solid #565d8f;
}

.header_toggle {
  display: none;
}

.header_toggle.on {
  display: flex;
  list-style: none;
  width: 100%;
  margin: auto 0;
  padding: 0%;

}

.header_toggle.on ul {
  width: 12.5%;
  margin: 0;
  padding-left: 0%;
}

.header_toggle.on li {
  list-style: none;
  padding-bottom: 5px;

}

.header_toggle.on li:nth-child(1) {
  height: 30px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}

.header_toggle.on li a {
  font-size: 100%;
}

.header_toggle.on li a:any-link {
  text-decoration: none;
  color: #303030;
}

.header_toggle.on li a:hover {
  font-weight: bolder;
}

/*inner*/
.inner {
  display: flexbox;
  flex-flow: column wrap;
  margin: 2% 10%;
  width: 80%;
  height: 100%;
  
}
.music > i {
  padding-left: 10px ;
}
.music,
.behind {
  padding:20px 0 80px 80px ;
  
}

#music_platform {
  display: flex;
  justify-content: space-around;
  margin-left: 60%;
  margin-bottom: 3%;
 
}

.mixtape {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  position: relative;
  flex-wrap: wrap;
}

.cover {
  width: 20vw;
  height: 20vw;
 
}

.cover img{
  width: 100%;
  height:100%;
}
.tracklist {
  margin: 0;
  padding: 0;
  width: 22vw;
  height: 20vw;
  box-sizing: border-box;
  overflow: auto;
}

#lyric_place {
  width: 25vw;
  height: 20vw;
  overflow: auto;
  margin: 0;
  padding-left: 15%;
  box-sizing: border-box;
}

#lyric_place pre{
  width: 100%;
}

.tracklist ul {
  list-style: none;
  padding: 0.5% 10%;

}

.toggle_btn {
  margin: 3% 0;
}


#lyric_place .toggle {
  display: none;
}

#lyric_place .toggle.on {
  
  display: block;
  
 
}
#lyric_place .no_lyric {
  padding: 70% 65% ;
  
}

/*mv slider*/
.mv_container {
  position: relative;

}

.mv_button {
  margin: 0  7%;
}
.mv_button div{
  
  display: flex;
  justify-content: space-between;
  
}

#prev.disabled,
#next.disabled {
  display: none;
}

iframe{
  width :900px;
  height :506px;
}
.slider-container {
  position: absolute;
  top:20%;
  width: 100%;
  padding: 0;
  
}

.slider-container.animated {
  -webkit-transform: left .3s ease-in;
  transition: left .3s ease-in;
  padding-bottom: 0;
}

.slide {
  position: absolute;
  top: 8%;
  width: 86%;
  padding: 5% 7%;

}

.behind div {
  display: flex;
  justify-content: space-around;

}

.more {
  display: flex;
  justify-content: space-around;
  margin: 5% 7%;
}

.more .toggle {
  display: none;
}

.more .toggle.on {
  display: block;

}

.more .toggle.on a {
  display: block;
  text-decoration: none;
}

.more .toggle.on a:hover {
  font-weight: bolder;

}

/*media query*/

@media  (max-width:930px ){
  .music{
    padding:  4%;
  }
  .cover ,.tracklist {
    width: 35vw;
    height: 35vw;
    margin-bottom:20px;
  }
  
  #lyric_place {
    width: 72vw;
    height: 20vw;
    padding:0 20%;
  
  }
  
  .lyric pre {
    font-size: 30px;
  }
 
}

@media  (max-width:800px ){
  .music{
    padding-left:0 ;
  }
  #music_platform{
  margin-left: 40%; 
  }
  .music{
    padding:  5%;
  }
  .cover {
    width: 32vw;
    height: 32vw;
  }
  .tracklist{
    width: 35vw;
    height: 32vw;
  }
  #lyric_place {
    width: 69vw;
    height: 20vw;
    padding:0 20%;
  
  }
  
  .lyric pre {
    font-size: 30px;
  }
  .more{
    margin: 13% 7%;
  }
  iframe{
    width: 600px;
    height: 338px;
  };

}
@media (max-width:700px) {
  iframe{
    width:450px ;
    height: 253px;
  }

}

@media (max-width:550px) {
  .header_toggle.on li {
    font-size: 11.5px;
  }
  .header_toggle.on li:nth-child(1) {
    padding-top:10px;
    font-size: 13px;
  }
  .musci{
    padding: 2%;
    margin-bottom: 6%;
  }
  .music i , .mv_button i {
    font-size: 20px;
  }
  .mv_button {
    font-size: 12px;
  }
  .cover {
    width: 30vw;
    height: 30vw;
  }
  .tracklist{
    width: 35vw;
    height: 30vw;
  }
  #lyric_place {
    width: 68vw;
    height: 20vw;
    padding:0 20%;
  
  }

  .twitter a {

    font-size: 11px;
  }
  .twitter img{
    width: ;
  }
}

@media (max-width:465px) {
  iframe{
    width: 300px;
    height: 169px;
  }


}

@media (max-width:413px) {
  .header_toggle.on li {
    font-size: 11.5px;
  }
  .header_toggle.on li:nth-child(1) {
    padding-top:10px;
    font-size: 13px;
  }
 
  .music i , .mv_button i {
    font-size: 12px;
  }
  .mv_button {
    font-size: 10px;
  }
  .cover {
    width: 30vw;
    height: 30vw;
  }
  .tracklist{
    width: 38vw;
    height: 30vw;

  }
 
  #lyric_place {
    width: 70vw;
    height: 20vw;
    padding:0 20%;
  
  }


  .twitter a {

    font-size: 11px;
  }
  .twitter img{
    width: 15px ;
  }
}