/*jhop1*/

#jhope1 header img:hover{
  border-bottom-color:rgb(10, 204, 191) ;
}
#jhope1 a:hover,
#jhope1  .toggle_btn:hover{
  color: rgb(10, 204, 191);
  font-weight: bold;
}

/*music*/


#jhope1 .mixtape {
  display: flex;
  flex-direction: column;
}
#jhope1 .cover a{
  display: block;
}
#jhope1 .cover a ,
#jhope1 .cover img{
  width: 20vw;
  height: 20vw;
}
#jhope1 .cover {
  display:grid ;  
  grid-template-columns: repeat(3 , 25vw);
}

#jhope1 .mixtape div:last-child{
  display: flex;
  justify-content: space-between;
  height: 20vw;
  margin-top: 2rem;
 
}
#jhope1 .tracklist{
  width: 24vw ;
  height: 100%;
}
#jhope1 .tracklist ul{
  padding-left:1px;
  padding-right: 0;
}
#jhope1 .tracklist li{
  padding: 0 10px;
}
#jhope1 #lyric_place{
  width: 43vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}
#jhope1 #lyric_place pre{
  padding-top: 0;
  padding-left: 2vw;
  font-size: 1rem;
}
/*behind*/
#jhope1 .behind div {
  padding-top: 2vw;
}

#jhope1 .behind div:nth-child(2) a ,
#jhope1 .behind div:nth-child(3) a{
  display: block;
}
#jhope1 .behind div:nth-child(2) div {
  display: flex;
  justify-content: space-between;
}
#jhope1 .behind div:nth-child(2) a ,
#jhope1 .behind div:nth-child(2) img {
  width: 22vw; 
  height:12.375vw;
}


#jhope1 .behind div:nth-child(3) div{
  display: grid;
  grid-template-columns: repeat(2 ,35vw);
  column-gap: 6vw;
  row-gap: 6vw;

}
#jhope1 .behind div:nth-child(3) a,
#jhope1 .behind div:nth-child(3) img{
  width: 30vw ;
  height: 16.875vw;
}

#jhope1 .behind div:nth-child(4) div {
  display: flex;
}

#jhope1 .behind div:nth-child(4) div img{
  width:19vw ; height:19vw;
}
#jhope1 .behind div:nth-child(4) div pre{
  width: 55vw;
  height:20vw;
  overflow-y: scroll;
  overflow-x: scroll;
  margin: 0;
}
