
li{
  list-style:none ;
}

/*.main_nav_ toggle*/
.main_nav_toggle {
  display: none;
}

.main_nav_toggle.on{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: rgba(51, 51, 51, 0.623);
  
  

}
.main_nav_toggle.on .name{
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: bolder;
  text-shadow: 0.5px 0.2px #565d8f;
  font-size: 150%;
  font-weight: 600;
  color: #ffff;
}

.main_nav_toggle.on li{
  padding-top: 2%;
  padding-bottom: 2%;
}
.main_nav_toggle.on .group  {
  padding-top: 30%;
  padding-bottom: 30%;
  font-size: 250%;
}
.main_nav_toggle.on a:visited,
.main_nav_toggle.on a:active,
.main_nav_toggle.on a:link {
  text-decoration: none;
  color: #C5CAE9;
}

.main_nav_toggle.on a:hover 
{
  text-decoration: none;
  color:rgb(236, 236, 236);
  font-weight: bolder;
}
/*main*/
main section{
  padding: 3% 15%;
}
#profile {
  display:flex;
  flex-wrap: wrap;
  }

#profile div{
  width:25% ;
  position: relative;
}

#profile img{
  width: 100%;
  height: auto;
}
.fas {
  color: #C5CAE9;
  size:2x;
}
#profile div:last-child  a{
  display: block;
  margin-top: 40%;
  font-size: 1.2rem;
}
#profile div:last-child  a:hover{
  font-size: 1.5rem;
}
/*mobile*/
@media (max-width:770px){
  #profile {
   justify-content: space-around;
   align-content: space-between;
  }
  #profile div{
    width:38% ; 
  }

  #profile img{
    width: 100%;
    height: auto;
  }
  .main_nav_toggle.on .name{
    font-size: 80%;
  }
  .main_nav_toggle.on .name a{
    font-size: 60%;
  }
}

@media (max-width:500px){
  section{
    margin-top: 10%;
    
  }
  #profile div{
    width:40% ; 
  }

  .main_nav_toggle.on{
    font-size: 90%;
  }
  .main_nav_toggle.on .name{
    font-size: 60%;
  }
  
}

@media (max-width:300px){
  .main_nav_toggle.on{
    font-size: 60%;
  }
  .main_nav_toggle.on .name{
    font-size: 30%;
  }
}

