/*네시*/
/*thema*/

#네시 header img:hover{
  border-bottom-color:rgb(61, 90, 170);
}
#네시 .navbar .toggle_btn:hover,
#네시 .navbar a:hover,
#네시 .cover .toggle_btn:hover,
#네시 .twitter .toggle_btn:hover{
  background-color:  rgb(61, 90, 170) ;
  color:#ffff;
}
#네시 #content_place,
#네시 .popup.on,
#네시 .more .twitter .toggle.on{
  background-color: rgba(212, 226, 255, 0.342)
}
#네시 ::-webkit-scrollbar{
  width: 1vw;
  height:0.5vw;
}
#네시  ::-webkit-scrollbar-track{
  background-color:transparent;
}
#네시  ::-webkit-scrollbar-thumb{
  background-color:#e4e4e4;
  border-radius: 100px;
}

#네시 .mixtape{
  display: flex;

}
#네시 .mixtape > div:first-child{
  width: 38vw;
  height: 38vw;
}
#네시  #content_place{
  width:35vw;
  height: 40vw;
  margin-left: 2vw;
  padding: 0;
}
#네시 .mixtape pre{
  padding: 0 10%;
  line-height: 180%;
}
#네시 iframe{
  width: 100%;
  padding: 0;
}

#네시 pre{
  font-size: 1.8vw;
}
#네시 .performance {
  width: 100%;
  margin-top: 5%;
}
#네시 .performance iframe{
  height: 39vw;
}

#네시 .behind > div{
  padding-top: 0;
  padding-left: 2%;
}
#네시 .behind > div div{
  padding: 0;
  margin-bottom: 5%;
  font-size: 2.5vw;
  font-weight: 600;
}
#네시 .behind > div .letter{
  margin: 8% 0;
}
#네시 .letter a{
  display: block;
}
#네시 .popup.on{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 36vw;
  margin-top: 5%;
}
#네시 .close{
  position: absolute;
  top: 0;
  right:3%;
}
#네시 .close:hover{
  color: slateblue;
}
#네시 .popup.on pre{
  margin-top: 5%;
  height: 35vw;
  overflow: scroll;
  line-height: 180%;
}
#네시 .more{
  margin-top: 5%;
  
}
#네시 .more .twitter .toggle.on{
  padding-top: 0;
  display: flex;
  justify-content: space-around;font-size: 1.8vw;
}

@media (max-width:450px) {
  #네시 .mixtape{
    flex-direction: column;
    height: 60vw;
  }
  #네시 .mixtape iframe{
    height: 20vw;
  }
  #네시 .mixtape > div:first-child{
    width: 100%;
    height: 24vw;
  }
  #네시 #content_place{
    width: 100%;
    height: 33vw;
    margin: 0;
  }
  #네시 #content_place pre{
    width: 80%;
    padding-left: 30%;
    padding-right: 0;
  }
  #네시 pre,
  #네시 .more .twitter .toggle.on{
    font-size: 0.8vw;
  }
}
@media (max-width:350px) {
  #네시 #content_place pre{
    padding-left: 20%;
  }
}
@media (max-width:300px) {
  #네시 .more .twitter .toggle.on{
    flex-direction: column;
    padding: 5% 20%;
    padding-right: 0;
  }
}

