/* rm1 */
  /*thema*/
#rm1 header img:hover{
  border-bottom-color:rgb(51, 51, 51) ;
}
#rm1 .navbar {
background-color: rgba(94, 93, 93, 0.185); ;
}
#rm1 .navbar .toggle_btn:hover ,
#rm1 .navbar .toggle a:hover,
#rm1 .twitter .toggle_btn:hover{
  background-color:  rgba(41, 41, 41, 0.815);
  color:#fafafafb
}
#rm1 .twitter .toggle_btn:hover{
  padding: 2% 1% 1% 1%;
}
#rm1 ::-webkit-scrollbar ,
#rm1 ::-webkit-scrollbar{
  background-color: rgba(241, 241, 241, 0.966);
  width: 1vw;
}
#rm1 ::-webkit-scrollbar-thumb ,
#rm1 ::-webkit-scrollbar-thumb{
  background-color: rgb(253, 253, 253);
  border-radius: 50px;
  background-clip: padding-box;
  border: 5px solid transparent;
}
/*music*/
#rm1 #music_platform{
  margin-left: 58vw;
  font-size: 4vw;
}
#rm1 #music_platform i{
  color:rgba(94, 93, 93, 0.534);
  font-size: 5vw;
}
#rm1 #music_platform i:hover{
  color: rgb(2,2,2);
}

#rm1 .list , 
#rm1 .slider-button li {
  font-family: 'East Sea Dokdo', cursive;
}
#rm1 .list {
  width: 46vw;
  font-size: 2.5vw;
}

#rm1 .list li{
  margin-bottom: 5px;
  padding-bottom: 2rem;
}
#rm1 #next , #rm2 #prev{
  color:rgba(94, 93, 93, 0.616);
}
#rm1 .slider-button div p:nth-of-type(2n+1) #next:hover ,
#rm1 .slider-button div p:nth-of-type(2n+1) #prev:hover{
  color:rgb(2,2,2);
}
#rm1 .slider-button p,
#rm1 .slider-button li{
  font-size: 2.5vw;
}

#rm1 .slider-button p:first-child,
#rm1 .slider-button p:last-child{
  margin-top:0.5vw
}
#rm1 .behind{
  margin-top:10vw;
}

#rm1 .more .twitter {
  width: 100%;
}

#rm1 .more .toggle.on  {
  padding-left: 2vw;
  padding-bottom: 2vw;
  display: grid;
  grid-template-columns: repeat(3 , 25vw);
  background-color:rgba(241, 241, 241, 0.342) ;
}

#rm1 .more .toggle.on a {
  font-size: 0.8rem;
  padding-bottom: 0.8rem;
}

/*미디어 쿼리*/
/*rm1*/
@media (max-width:544px) {
  #rm1 .more .toggle.on {
    grid-template-columns: repeat(2, 33vw);
    row-gap: 0.5rem;
    padding-left: 15%;
  }
}

@media (max-width:380px) {
  #rm1 .more .toggle.on {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 5vw;
    padding-left: 30%;
    height: 30vw;
    overflow-y: scroll;
  }

  #rm1 .more p {
    margin: 1vw 0;
    padding: 0;
  }
}
@media (max-width:460px) {
  #rm1 .mv{
    margin-bottom: 10vw ;
  }
}
@media (max-width:520px) {
  #rm1 .cover{
    width: 25vw;
    height: 25vw;
  }
  #rm1 .list{
    width: 50vw;
    height: 25vw;
  }
  #rm1 .list li{
    padding-bottom: 0.5rem;
  }
  #rm1 .slider-button p {
    font-size:11px ;
  }
  #rm1 .slider-button p:nth-child(2){
    font-size: 20px ;
  }
}
@media (min-width:520px) {
  
  #rm1 .list {
    width: 40vw;
    font-size:3vw ;
  }
  #rm1 .slider-button p:nth-child(2){
    font-size: 4vw;
  }

}

@media (max-width:700px) {
  #rm1 .more .toggle.on a{
    font-size: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (min-width:750px) {
  #rm1 .more .toggle.on {
    padding-left: 3vw;
    padding-right: 3vw;
  }
}

@media (min-width:797px) {
  #rm1 .list {
    width: 35vw;
    font-size: 25px;
  }
  #rm1 .list li {
    padding-bottom:6px ;
  }
}
@media (max-width:800px) {
  #rm1 .more{
    margin-top: 3vw;
  }
}
@media (max-width:900px) {
  #rm1 .behind{
    margin-top: 2vw;
  }
  #rm1 .behind >div{
    padding-top: 2vw;
  }
}
@media (min-width:930px) {
  #rm1 .list {
    width: 40vw;
    font-size: 30px;
    
  }
  #rm1 .list ul{
    padding-left: 6%;
    padding-right: 6%;
  }
}



/* rm2 */

#rm2 header img:hover{
  border-bottom-color:#e6c86f
} 

#rm2 .dropdown a:hover,
#rm2 .toggle_btn:hover,
#rm2 .twitter a:hover{
  font-weight: initial;
  background-color:#f1dd9e ;
}
#rm2 #music_platform i{
  color: #6d6a6a;
}
#rm2 #music_platform i:hover,
#rm2 .slider-button div p:nth-of-type(2n+1) #next:hover ,
#rm2 .slider-button div p:nth-of-type(2n+1) #prev:hover{
  color:#e2b221
}
#rm2 ::-webkit-scrollbar {
  width: 0.5rem;
  height:0.2rem ;
}
#rm2 ::-webkit-scrollbar-track{
  background-color: transparent;
}
#rm2 ::-webkit-scrollbar-thumb {
  background-color: #fff2c7 ;
  border-radius: 100px;
}

#rm2 .mixtape{
  height: 20vw;
}
#rm2 .mixtape >div:first-child{
  display: flex;
  width: 50%;
}
#rm2 .cover ,
#rm2 .list {
  width: 50%;
  height: 100%;
}
#rm2 #content_place{
  padding: 0;
  width: 50%;
}

#rm2 .list .toggle_btn ,
#rm2 .slider-button li{

  font-family: 'Nanum Brush Script', cursive;
  font-size: 2vw;
}
#rm2 pre{
  position: relative;
  font-family: 'Gaegu', cursive;
  font-size: 1.5vw;
  color:#201e1a;
  padding-top: 10px;
}

#rm2 .slider-button li {
  font-size: 1.3rem;
}
#rm2 #next , #rm2 #prev{
  color:#272725bb;
  font-size: 1.5rem;
}
#rm2 .behind {
  margin-top: 10vw;
}

#rm2 .more .toggle.on  {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
}

#rm2 .more .toggle.on p {
  margin: 0 4%;
}

/*미디어 쿼리*/
@media (min-width:2550px) {
  #rm2 .slider-button div p:first-child ,
  #rm2 .slider-button div p:last-child {
  margin-top: 0;
} 

}

@media (min-width:1200px) {
  #rm2 .slider-button li {
    font-size: 2vw;
  }
}
@media (min-width:1020px) {
  #rm2 #next , #rm2 #prev ,#rm2 .slider-button li{
    font-size: 2.6vw;
  }
}
@media (min-width:930px) {
  #rm2 .slider-button p {
    font-size:2vw;
  }
}
@media (max-width:930px) {
  #rm2 .mixtape {
    flex-direction: column;
    height: 60vw;
  }
  #rm2 .mixtape > div {
    width: 100%;
    height: 45%;
  }
  #rm2 .mixtape > div:first-child{
    width: 100%;
  }
  #rm2 .cover, 
  #rm2 .cover a {
    width: 38%;
    height:auto;
    margin: 0;
  }
  #rm2 .list{
    width: 58%;
    margin: 0;
    margin-left: 5%;
  }
  #rm2 #content_place{
    width: 100%;  
    padding:0 10%;
    margin-top: 5%;
  }
  #rm2 #content_place .toggle.on{
    margin-top: 2vw;
  }
  #rm2 .slider-button li,
  #rm2 .list .toggle_btn {
    font-size: 3vw;
    padding-top: 5px;
  }
  #rm2 .slider-button div p:first-child ,
  #rm2 .slider-button div p:last-child{
    margin-top: 4vw;
  }
  #rm2 .content pre{
    font-size: 2.5vw;
  }
  
  #rm2 .slider-button div{
    margin-bottom: 20px;
  }
}
@media (max-width:800px) {
  #rm2 .more{
    margin-top: 20px;
  }
}
@media (min-width:769px) {
  #rm2 .vlive {
    padding-top:5%
  }
}
@media (max-width:700px) {
  #rm2 .more .toggle.on{
    display: grid;
    grid-template-columns: repeat(2 , 30vw);
    padding-top: 0;
    
  }
  #rm2 .more .toggle.on p {
    padding-top:8px ;
    font-size: 2.5vw;
  }
}
@media (max-width:650px) {
  #rm2 .behind{
    margin-top:15vw;
  }
}
@media (max-width:560px) {
  #rm2 .slider-button p {
    font-size: 2vw;
  }
  #rm2 #next , #rm2 #prev{
    font-size: 1rem;
  }
}
@media (max-width:460px) {
  #rm2 .behind{
    margin-top:5vw ;
  }
  
}

@media (max-width:370px) {
  #rm2 .more .toggle.on{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20vw;
  }
  #rm2 .more .toggle.on a{
    font-size: 3vw;
  }
}
@media (max-width:340px) {
  #rm2 .slider-button div {
    padding: 0;
    justify-content: space-around;
  }
  #rm2 .slider-button p{
    margin: 2px;
    margin-bottom: 5px;
    font-size:1vw;
  }

}
@media (max-width:300px) {

  #rm2 .slider-button div p:first-child ,
  #rm2 .slider-button div p:last-child{
    margin-top: 8vw;
  }
}

/*rm0*/
/*thema*/

#rm0 header img:hover{
  border-bottom-color: #8f8170;
}
#rm0 .navbar .toggle_btn:hover,
#rm0 .navbar a:hover,
#rm0 .cover .toggle_btn:hover,
#rm0 .twitter .toggle_btn:hover{
  background-color:  #8f8170  ;
  color: #ffff;
  
}
#rm0 ::-webkit-scrollbar{
  width: 1vw;
  height:0.5vw;
}
#rm0  ::-webkit-scrollbar-track{
  background-color:transparent;
}
#rm0  ::-webkit-scrollbar-thumb{
  background-color:#cabba662;
  border-radius: 100px;
}
#rm0 iframe{
  width: 100%;
  padding: 0;
}
#rm0 main{
  margin-top: 8vw;
}
#rm0  section:first-child iframe{
  height: 30vw;

}
#rm0  section:first-child {
  margin-bottom: 5vw;
}
#rm0 section .popup_btn:first-child{
  font-size: 3vw;
  display: block;
  text-align: center;
}

#rm0 #content_place,
#rm0 .behind .song1 >div{
  background-color: #f1eeea9d;
}

#rm0 #music_platform{
  margin-left: 80%;
  height: 50vw;
}
#rm0 .mixtape{
  display: flex;
}
#rm0 .mixtape > div{
  width: 100%;
}
#rm0 .mixtape > div:first-child,
#rm0 .mixtape iframe{
  height: 20vw;
}

#rm0 #content_place {
  margin-top: 5vw;
  height: 25vw;
  padding-left: 25%;
}
#rm0 pre{
  font-size: 1.8vw;
  line-height:180% ;
  
}
#rm0 .song1 {
  padding: 0;
  padding-left: 2%;
  position: relative;
}

#rm0 .song1 > div{
  padding:0;
  width: 79vw;
  height: 30vw;
  overflow: scroll;
}
#rm0 .behind p{
  font-size: 2vw;
}
#rm0 .song1 a{
  position:absolute ;
  top: 0;
  right: 2vw;
  font-size: 1.5vw;
}
#rm0 .song1 a:hover{
  font-weight: bolder;
  color: slateblue;
}
@media (min-width:1800px) {
  #rm0 .mixtape > div:first-child,
  #rm0 .mixtape > div:first-child iframe{
    height: 10vw;
  }

}
@media (min-width:100px) {
  #rm0 pre {
    font-size: 1rem;
  }
  #rm0 section .popup_btn:first-child {
    font-size: 2vw;
  }


}
@media (max-width:1000px) {
  #rm0 .mixtape > div:first-child,
  #rm0 .mixtape > div:first-child iframe{
    height: 15vw;
  }
  #rm0 pre {
    font-size: 1.5vw;
  }

}
@media (max-width:500px) {
  #rm0 #content_place {
    padding: 0 2%;
  }
  #rm0 pre{
    font-size: 0.8vw;
    line-height:180% ;
  }
  #rm0 .song1 a{
    font-size: 1.5vw;
  } 
}


