
/*suga1*/
#suga1 {
  background-color:#1c1e22fb
}
#suga1  a {
  color:  #242423;
}

#suga1 header .logo {
  background-color: rgba(83, 109, 136, 0.979);
}
#suga1 .header_toggle.on{
  background-color: rgba(83, 109, 136, 0.979) ;
}
#suga1 .header_toggle.on li:nth-child(1){
  background-color:rgb(66, 87, 110) ;
  color: #f5f1f1 ;
}
#suga1 .header_toggle.on li a {
  color: rgb(212, 215, 230) ;
  
}

#suga1 #music_platform i:hover{
  color:rgba(83, 109, 136, 0.979);
}
#suga1 .tracklist ,
#suga1 #lyric_place{
  background-color:rgba(169, 173, 177, 0.979);
}
#suga1 .tracklist ul{
  margin-top: 10px;
  margin-bottom: 10px;
}
#suga1 .tracklist li {
  margin-bottom: 2%;
}
#suga1 .tracklist div{
  font-family: 'Do Hyeon', sans-serif;
  font-size: 1.5vw;
}
#suga1  pre {
  
  font-family: 'Do Hyeon', sans-serif;
  font-size: 1.2vw;
  font-weight: lighter;
  
}
#suga1 .mv_button :last-child  {
  padding-left: 5%;
  font-size: 2vw;
  font-weight: bold;
}

#suga1 .tracklist  .toggle_btn:hover{
  font-weight: bolder;
} 

#suga1 i ,#suga1 .mv_button div ,#suga1 #prev ,#suga1 #next{
  color:rgba(169, 173, 177, 0.979) ;
}

#suga1 #prev:hover , #suga1 #next:hover{
  color:rgba(27, 94, 165, 0.979);
}
#suga1 .mv{
  height: 44vw;
}
#sug1 .
#suga1 .more{
  background-color:#fafafa11 ;
}
#suga1 .more .twitter {
  width: 100%;
}
#suga1 .more .toggle.on a {
  color: #b8b4b4;
}

#suga1 .more .toggle.on  {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
}

#suga1 .more .toggle.on p {
  margin: 0 4%;
}

#suga1 .more .toggle.on  p a:hover{
  color: #e6e6e6;

}
#suga1 footer{
  color: rgba(169, 173, 177, 0.979);
}

/*미디어 쿼리*/
@media (min-width:1024px) {
  #suga1 .more{
    margin-top:15%;
  }
}
@media (max-width:930px) {
  #suga1 .tracklist .toggle_btn {
    font-size: 2vw;
  }
  #suga1 .lyric pre{
    font-size: 2.2vw;
  }
  #suga1 #lyric_place{
    padding: 3%  10%;
  }
}
@media (max-width:700px) {
  #suga1 .more .toggle.on{
    flex-direction: column;
    padding: 0 25%;
  }
  #suga1 .more .toggle.on p {
    padding-top:8px ;
    font-size: 2.5vw;
  }
}

@media (max-width:350px) {
  #suga1 .tracklist .toggle_btn {
    font-size: 2vw;
  }
  #suga1 .lyric pre{
    font-size: 7px;
    font-weight: lighter;
  }
  #suga1 #lyric_place{
    padding-left: 3%;
    padding-right: 3%;
  }
}
@media (max-width:300px) {
  #suga1 .mv_button div {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #suga1 .mv_button div p:nth-child(1) {
    margin: 0 10px 0 0;
  }
  #suga1 .mv_button div p:nth-child(2){
    padding-top: 6px;
    margin: 0;
  }
  #suga1 .mv_button div p:nth-child(3) {
    margin:  0;
  }

 

}



