/*thema*/

#jk1 #content_place,
#jk1 .song1 div{
  background-color: rgba(230, 230, 250, 0.603);
}
#jk1 .navbar .toggle_btn:hover{
  background-color: rgb(196, 196, 255);
}
#jk1 ::-webkit-scrollbar{
  width: 1vw;
  height:0.5vw;
}
#jk1  ::-webkit-scrollbar-track{
  background-color:transparent;
}
#jk1  ::-webkit-scrollbar-thumb{
  background-color:rgb(168, 168, 221);
  border-radius: 100px;

}
#jk1 
#jk1 .music{
  padding-bottom: 0;
}
#jk1 .mixtape > div:first-child{
  height: 20vw;
  margin-bottom: 5vw;
}
#jk1 .mixtape iframe{
  padding: 0;
  height: 100%;
}
#jk1 .mixtape > div:last-child{
  display: flex;
  height: 35vw;
}
#jk1 .cover {
  width: 35vw;
  height: 35vw;
  margin-bottom: 0;
  position: relative;
}
#jk1 .cover img,
#jk1 .cover a{
  position: absolute;
  top:0;
  left: 0;;
  width: 100%;
  height: 100%;
}
#jk1 #content_place{
  width: 44vw;
  height: 35vw;
  padding: 0;
  padding-left: 6%;

}
#jk1 #content_place pre,
#jk1 .song1 pre{
  height: 100%;
  font-size: 1.5vw;
  overflow: scroll;
  line-height: 180%;
}

#jk1 .song1,
#jk1 .song1 div{
  padding-top: 2%;
}
#jk1 .song1 p {
  position: relative;
  font-size: 2vw;
}
#jk1 .song1 p a {
  position: absolute;
  top: 0;
  right: 2%;
  font-size: 1vw;
  color: rgb(54, 54, 170);
}
#jk1 .song1 {
  padding-left: 2%;
}

@media (max-width:425px) {
  #jk1 #content_place pre,
  #jk1 .song1 pre{
    font-size: 0.5rem;
}
}
@media (min-width:700px) {
  #jk1 .mixtape > div:first-child{
    height:15vw ;
  }
  #jk1 #content_place{
    overflow-x: hidden;
  }
  #jk1 #content_place pre{
    padding: 0;
    padding-left: 7%;
  }
  #jk1 .song1 p a {
    font-size: 1.5vw;
  }
  #jk1 .song1 pre{
    padding-left:5% ;
  }
}
