#more .toggle_btn:hover,
#more section ul{
  background-color: rgb(248, 242, 255);
}


#more section:first-child{
  margin-top:3vw ;
}

#more section:first-child p{
  text-align: center;
  color: gray;
}

#more section ul{
  padding: 5% ;
  display: grid;
  grid-template-columns: repeat(3, 30vw);
  row-gap: 2vw;
}

@media (max-width:600px) {
  #more .inner div {
    font-size:1.8vw ;
  }
  #more p ,
  #more .inner a {
    font-size: 1.2vw;
  }
}