
/*suga1*/
  /*thema*/

#suga1 .navbar{
  background-color: #01459cbd;
}
#suga1 .navbar a {
  color: #ffff;
}
#suga1 .navbar .toggle_btn:hover ,
#suga1 .navbar .toggle a:hover{
    background-color:  rgba(41, 41, 41, 0.815);
    color:#fafafafb
  }
#suga1 .list .toggle_btn:hover,
#suga1 .twitter a:hover{
  background-color:#0665e262 ;
 
  padding-top: 3px;
  font-weight: 500;
  
}
#suga1 #music_platform i:hover,
#suga1 #prev:hover , 
#suga1 #next:hover{
  color:#024092d2;
}
#suga1 .list ,
#suga1 #lyric_place{
  background-color:rgba(86, 132, 168, 0.219)
}
/*music*/
#suga1 .mixtape {
  justify-content: initial;
} 
#suga1 .cover {
  margin-right: 3vw;
}
#suga1 .list{
  width: 40vw;
}
#suga1 #lyric_place{
  width: 79vw;
}
#suga1 #music_platform {
  margin-left: 30%;
}

#suga1 .list ul{
  margin-top: 10px;
  margin-bottom: 10px;
}
#suga1 .list .toggle_btn {
  margin-bottom: 2%;  
  padding-bottom: 3px;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 1.3vw;
}

#suga1  pre {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 1.2vw;
  font-weight: lighter;
  
}
#suga1 .slider-button :last-child  {
  padding-left: 5%;
  font-size: 2vw;
  font-weight: bold;
}

#suga1 .content pre{
  padding-top: 8% ;
}


#suga1 i ,#suga1 .slider-button div ,#suga1 #prev ,#suga1 #next{
  color:rgba(56, 56, 56, 0.979) ;
}


#suga1 .mv{
  height: 44vw;
}
#suga1 .more{
  margin-top: 15vw;
}

#suga1 .more .twitter {
  width: 100%;
}

#suga1 .more .toggle.on  {
  display:grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2 ,auto);
  row-gap: 0.8rem;
  margin-bottom: 5%;
}

#suga1 .twitter p {
  margin: 0 4%;
  font-size: 0.8rem;
}


/*미디어 쿼리*/
@media (min-width:1024px) {
  #suga1 .more{
    margin-top:15%;
  }
}
@media (min-width:1040px) {
  #suga1 .more{
    margin-top: 16vw;
  }
}
@media (min-width:928px) {
  #suga1 .list{
    width: 17vw;
  }
  #suga1 #lyric_place {
    width: 30vw;
  }
}
@media (max-width:928px) {
  #suga1 .list div{
    
    font-size: 2.2vw;
  }
  #suga1  pre {
    
    font-size: 2.2vw;
    font-weight:initial;
    
  }
}
@media (min-width:900px) {
  #suga1 .cover {
    margin-right: 1vw;
  }
  #suga1 .list{
    width: 20vw;
    margin-right: 1vw;
  }
  #suga1 #lyric_place{
    width: 36vw;
  }
  #suga1 #music_platform {
    margin-left: 30%;
  }
}
@media (max-width:800px) {
  #suga1 .list{
    width: 43vw;
  }
}
@media (min-width:806px) {
  #suga1 .twitter p {
    font-size: 1.5vw;
  }
}
@media (max-width:550px) {
  #suga1 .list{
    width: 56%;
  }
}
@media (max-width:500px) {
  #suga1 .twitter p{
    font-size: 0.5rem;
  }
}
@media (max-width:450px) {
  #suga1 #lyric_place{
    padding-left: 7%;
    padding-right: 6%;
  }
}
@media (max-width:350px) {
  #suga1 .list .toggle_btn {
    font-size: 2vw;
  }
  #suga1 .content pre{
    font-size: 7px;
    font-weight: lighter;
  }
 
  #suga1 .more .toggle.on{
    display: flex;
    flex-direction: column;
  }
  #suga1 .twitter .toggle.on{
    padding-left: 20%;
  }

}
@media (max-width:300px) {
  #suga1 .slider-button div {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #suga1 .slider-button div p:nth-child(1) {
    margin: 0 10px 0 0;
  }
  #suga1 .slider-button div p:nth-child(2){
    padding-top: 6px;
    margin: 0;
  }
  #suga1 .slider-button div p:nth-child(3) {
    margin:  0;
  }
  #suga1 .more {
    margin-top: 25vw;
  }
}

/*SUGA2 */
@font-face {
  font-family:'NanumMyeongjo' ;
  src: url(../font/NanumMyeongjo.ttf);
}

#suga2 .list li ,
#suga2 .content pre{
  font-family: 'NanumMyeongjo';
}
/*thema*/

#suga2 .navbar .toggle_btn:hover ,
#suga2 .navbar .toggle a:hover,
#suga2 .list .toggle_btn:hover,
#suga2 .twitter .toggle_btn:hover{
    background-color:  rgba(19, 19, 19, 0.842);
    color:#ffff
  }
#suga2 .list .toggle_btn:hover,
#suga2 .twitter a:hover{
  padding:10px 6px 6px 6px;
  font-weight: 500;
}
#suga2 #music_platform i:hover,
#suga2 #prev:hover , 
#suga2 #next:hover{
  color:rgb(175, 174, 174)
}

#suga2 .behind{
  padding-top: 0;
  margin-top: 0;
}
#suga2 .behind iframe{
  width:31.5vw ;
  height:17.71875vw ;
  padding-bottom: 6vw;
  
}
#suga2 .behind div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 5px;
}
#suga2 .behind{
  margin-bottom: 0;
}
#suga2 .more {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0;
  
}
#suga2 .photo{
  height: 25vw;
  position: relative;
}
#suga .photo .slider-wrapper{
  height: 22vw;
}
#suga2 .photo .slider-button a {
  
  font-size: 1.5rem;
}

#suga2 .photo .slider-button{
  display: flex;
  justify-content: space-between;
  margin: 0 30%;
}
#suga2 .photo .slider-button p{
  margin: 0;
  margin-bottom: 0.5rem;
}

#suga2 .photo .slide {
  display: grid;
  grid-template-rows: repeat(1, 12vw);
  grid-template-columns: repeat(3 ,22vw);
  column-gap: 4vw;
  width: 100%;
  height:15vw;
  padding: 0;
  border: 0;
} 
#suga2 .photo .slide:nth-child(1),
#suga2 .photo .slide:nth-child(2)
  {
  grid-template-rows: repeat(1, 14vw);
  grid-template-columns: repeat(5 ,10vw);
  column-gap: 5vw;
}
#suga2 .photo .slide:nth-child(2){
  column-gap: 9vw;
}
#suga2 .photo img {
  width: 100%;
  height: 100%;
  padding-left: 2vw;
}
#suga2 .twitter .toggle.on{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#suga2 .twitter .toggle.on a:hover{
  font-weight: bolder;
}
#suga2 .twitter .toggle.on p{
  font-size: 1rem ;
}
@media (max-width:934px) {
  #suga2 .content pre {
    font-size: 1rem;
  }
}
@media (max-width:800px) {
  
  #suga2 .twitter{
    margin-top: 30px;
  }
  #suga2 .twitter .toggle.on p{
    font-size: 0.5rem;
  }
}
@media (min-width:750px) {
  #suga2 .twitter{
    margin-top: 40px;
  }
}
@media (min-width: 700px){
#suga2 .behind {
    padding-top: 10px;
}
}
@media (max-width:700px) {
  #suga2 .list li{
    font-size: 0.8rem;
  }

  #suga2 .content pre{
    font-size: 0.8rem;
  }
}
@media (max-width:600px) {
  #suga2 .twitter .toggle.on{
    padding-left: 5vw;
    display: grid;
    grid-template-columns: repeat(2 , 35vw);
  }
  #suga2 .twitter .toggle.on p{
    font-size: 0.7rem;
  }
}
@media (max-width:550px) {
  #suga2 #lyric_place{
    padding-left:10vw;
  }
  #suga2 .content pre{
    font-size: 0.6rem;
  }
}
@media (max-width:480px) {
  #suga2 .photo .slider-button a{
    font-size: 0.8rem;
  }
  #suga2 .twitter .toggle.on{
    padding-left: 1.5vw;
  }
  #suga2 .list li{
    font-size: 0.5rem;
  }
}

@media (max-width:340px) {
  #suga2 .twitter .toggle.on{
    padding-left: 16vw;
    padding-top: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #suga2 .twitter .toggle.on p{
    font-size: 0.3rem;
  }
  #suga2 .list ul{
    padding: 0;
  }
  #suga2 .list li{
    font-size: 0.5vw;
  }
  #suga2 #lyric_place{
    padding-left: 3vw;
  }
  #suga2 .content pre{
    font-size: 0.3rem;
  }
}