
/*suga1*/
#suga1 {
  background-color:#1c1e22fb
}
#suga1  a {
  color:  #242423;
}
/*navbar*/
#suga1 header .logo, #suga1 .navbar{
  background-color: #5d708bcc
}

#suga1 .navbar .toggle_btn:hover ,
#suga1 .navbar .toggle a:hover{
    background-color:  rgba(41, 41, 41, 0.815);
    color:#fafafafb
  }
/*music*/
#suga1 #music_platform i:hover{
  color:rgba(83, 109, 136, 0.979);
}
#suga1 .tracklist ,
#suga1 #lyric_place{
  background-color:rgba(169, 173, 177, 0.979);
}
#suga1 .tracklist ul{
  margin-top: 10px;
  margin-bottom: 10px;
}
#suga1 .tracklist .toggle_btn {
  margin-bottom: 2%;  
  padding-bottom: 3px;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 1.3vw;
}

#suga1  pre {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 1.2vw;
  font-weight: lighter;
  
}
#suga1 .slider-button :last-child  {
  padding-left: 5%;
  font-size: 2vw;
  font-weight: bold;
}

#suga1 .tracklist  .toggle_btn:hover{
  font-weight: bolder;
} 

#suga1 .lyric pre{
  padding-top: 8% ;
}


#suga1 i ,#suga1 .slider-button div ,#suga1 #prev ,#suga1 #next{
  color:rgba(169, 173, 177, 0.979) ;
}

#suga1 #prev:hover , #suga1 #next:hover{
  color:rgba(27, 94, 165, 0.979);
}
#suga1 .mv{
  height: 44vw;
}
#sug1 .
#suga1 .more{
  background-color:#fafafa11 ;
}
#suga1 .more .twitter {
  width: 100%;
}
#suga1 .more .toggle.on a {
  color: #b8b4b4;
}

#suga1 .more .toggle.on  {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
}

#suga1 .more .toggle.on p {
  margin: 0 4%;
}

#suga1 .more .toggle.on  p a:hover{
  color: #e6e6e6;

}
#suga1 footer{
  color: rgba(169, 173, 177, 0.979);
}

/*미디어 쿼리*/
@media (min-width:1024px) {
  #suga1 .more{
    margin-top:15%;
  }
}
@media (max-width:1000px) {
  #suga1 .more{
    margin-top: 15vw;
  }
}
@media (min-width:928px) {
  #suga1 .tracklist{
    width: 17vw;
  }
  #suga1 #lyric_place {
    width: 30vw;
  }
}
@media (max-width:928px) {
  #suga1 .tracklist div{
    
    font-size: 2.2vw;
  }
  #suga1  pre {
    
    font-size: 2.2vw;
    font-weight:initial;
    
  }
}
@media (max-width:700px) {
  #suga1 .more .toggle.on{
    flex-direction: column;
    padding: 0 25%;
  }
  #suga1 .more .toggle.on p {
    padding-top:8px ;
    font-size: 2.5vw;
  }
}
@media (max-width:450px) {
  #suga1 #lyric_place{
    padding-left: 7%;
    padding-right: 6%;
  }
}
@media (max-width:350px) {
  #suga1 .tracklist .toggle_btn {
    font-size: 2vw;
  }
  #suga1 .lyric pre{
    font-size: 7px;
    font-weight: lighter;
  }

}
@media (max-width:300px) {
  #suga1 .slider-button div {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #suga1 .slider-button div p:nth-child(1) {
    margin: 0 10px 0 0;
  }
  #suga1 .slider-button div p:nth-child(2){
    padding-top: 6px;
    margin: 0;
  }
  #suga1 .slider-button div p:nth-child(3) {
    margin:  0;
  }
}

/*SUGA2 */
@font-face {
  font-family:'NanumMyeongjo' ;
  src: url(../font/NanumMyeongjo.ttf);
}
#suga2 .tracklist li ,
#suga2 .lyric pre{
  font-family: 'NanumMyeongjo';
}
#suga2 .behind iframe{
  width:31.5vw ;
  height:17.71875vw ;
  padding-bottom: 6vw;
  
}
#suga2 .behind div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 5px;
}
#suga2 .behind{
  margin-bottom: 0;
}
#suga2 .more {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0;
  
}
#suga2 .photo{
  height: 25vw;
  position: relative;
}
#suga2 .photo .slider-button a {
  color:#595a58a1 ;
  font-size: 1.5rem;
}
#suga2 .photo .slider-button a:hover{
  color:#00171fb2
}
#suga2 .photo .slider-button{
  display: flex;
  justify-content: space-between;
}
#suga2 .photo .slider-button p{
  margin: 0;
  margin-bottom: 0.5rem;
}

#suga2 .photo .slide {
  display: grid;
  grid-template-rows: repeat(1, 12vw);
  grid-template-columns: repeat(3 ,22vw);
  column-gap: 1.3vw;
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
} 
#suga2 .photo .slide:nth-child(1),
#suga2 .photo .slide:nth-child(2)
  {
  grid-template-rows: repeat(1, 14vw);
  grid-template-columns: repeat(5 ,10vw);
  column-gap: 5vw;
}
#suga2 .photo .slide:nth-child(2){
  column-gap: 9vw;
}
#suga2 .photo img {
  width: 100%;
  height: 100%;
  padding-left: 10vws;
}
#suga2 .twitter .toggle.on{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#suga2 .twitter .toggle.on p{
  font-size: 1rem ;
}
@media (max-width:934px) {
  #suga2 .lyric pre {
    font-size: 1rem;
  }
}
@media (max-width:800px) {
  
  #suga2 .twitter{
    margin-top: 30px;
  }
  #suga2 .twitter .toggle.on p{
    font-size: 0.5rem;
  }
}
@media (min-width:750px) {
  #suga2 .twitter{
    margin-top: 40px;
  }
}
@media (min-width: 700px){
#suga2 .behind {
    padding-top: 10px;
}
}
@media (max-width:700px) {
  #suga2 .tracklist li{
    font-size: 0.8rem;
  }

  #suga2 .lyric pre{
    font-size: 0.8rem;
  }
}
@media (max-width:600px) {
  #suga2 .twitter .toggle.on{
    padding-left: 5vw;
    display: grid;
    grid-template-columns: repeat(2 , 35vw);
  }
  #suga2 .twitter .toggle.on p{
    font-size: 0.7rem;
  }
}
@media (max-width:550px) {
  #suga2 #lyric_place{
    padding-left:10vw;
  }
  #suga2 .lyric pre{
    font-size: 0.6rem;
  }
}
@media (max-width:480px) {
  #suga2 .photo .slider-button a{
    font-size: 0.8rem;
  }
  #suga2 .twitter .toggle.on{
    padding-left: 1.5vw;
  }
  #suga2 .tracklist li{
    font-size: 0.5rem;
  }
}

@media (max-width:340px) {
  #suga2 .twitter .toggle.on{
    padding-left:  20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #suga2 .tracklist ul{
    padding: 0;
  }
  #suga2 .tracklist li{
    font-size: 0.5vw;
  }
  #suga2 #lyric_place{
    padding-left: 3vw;
  }
  #suga2 .lyric pre{
    font-size: 0.3rem;
  }
}