/* rm1 */
#rm1 {
  background-color:#fafafadc
}
#rm1 .header_toggle.on{
  background-color: rgba(117, 116, 116, 0.226);
}
#rm1 .header_toggle.on li:nth-child(1){
  background-color: rgba(2, 2, 2, 0.493);
  color: #fafafadc ;
}
#rm1 #music_platform{
  margin-left: 58vw;
  font-size: 4vw;
}
#rm1 #music_platform i{
  color:rgba(94, 93, 93, 0.534);
}
#rm1 #music_platform i:hover{
  color: rgb(2,2,2);
}

#rm1 .tracklist , #rm1 p{
  font-family: 'East Sea Dokdo', cursive;
}
#rm1 .tracklist {
  width: 46vw;
  font-size: 4.6vw;
}

#rm1 .tracklist li{
  margin-bottom: 5px;
}
#rm1 #next , #rm2 #prev{
  color:rgba(94, 93, 93, 0.616);
}
#rm1 .mv_button div p:nth-of-type(2n+1) #next:hover ,
#rm1 .mv_button div p:nth-of-type(2n+1) #prev:hover{
  color:rgb(2,2,2);
}
#rm1 .mv_button p{
  font-size: 2.5vw;
}
#rm1 .mv_button p:nth-child(2){
  font-size:6vw ;
}
#rm1 .more{
  background-color:rgba(241, 241, 241, 0.342) ;
}
#rm1 .more .twitter {
  width: 100%;
}
#rm1 .more .toggle.on  {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5% 20%;
  
}

#rm1 .more .toggle.on a {
  color: rgb(94, 93, 93);
}
#rm1 .more .toggle.on a:hover {
  font-weight: bolder;
}
#rm1 .more .toggle.on p {
  margin: 0 4%;
}

/*미디어 쿼리*/
@media (min-width:520px) {
  #rm1 .tracklist {
    width: 40vw;
  }
}
@media (min-width:797px) {
  #rm1 .tracklist {
    width: 35vw;
    
  }
  #rm1 .tracklist li {
    padding-bottom:6px ;
  }
}
@media (min-width:938px) {
  #rm1 .tracklist {
    width: 50vw;
    font-size: 4vw;
  }
  #rm1 .tracklist ul{
    padding-left: 6%;
    padding-right: 6%;
  }
}
@media (max-width:560px) {
  #rm2 .mv_button p {
    font-size: 2vw;
  }
  #rm2 .behind {
    margin: 3vh 0 ;
  }
  
}
@media (max-width:340px) {
  #rm2 #lyric_place{
    padding:0 15%;
  }
  #rm2 .mv_button div {
    padding: 0;
  }
  #rm2 .mv_button p{
    margin: 2px;
    margin-bottom: 5px;
    font-size:1vw;
  }
}
@media (max-width:300px) {
  
 


}



/* rm2 */
#rm2 {
  background-color:#c9c9c9af
}
#rm2 .header_toggle.on{
  background-color: rgba(139, 137, 137, 0.027);
}
#rm2 .header_toggle.on li:nth-child(1){
  background-color: rgba(2, 2, 2, 0.185);
  color: #ffff ;
}


#rm2 #music_platform i{
  color: #6d6a6a;
}
#rm2 #music_platform i:hover{
  color: #000000;
}

#rm2 .tracklist{
  background-color:#fafafa3a;
}

#rm2 #lyric_place{
  background-color:#fafafa3a;
  padding: 0;
}
#rm2 .tracklist  .toggle_btn:hover{
  color: #969595;
} 
#rm2 .toggle_btn{
  font-family: 'Nanum Brush Script', cursive;
  font-size: 2vw;
}
#rm2 pre{
  position: relative;
  font-family: 'Gaegu', cursive;
  font-size: 1.5vw;
  color:#242423;
}
#rm2 #next , #rm2 #prev{
  color:#272725bb;
}
#rm2 .mv_button div p:nth-of-type(2n+1) #next:hover ,
#rm2 .mv_button div p:nth-of-type(2n+1) #prev:hover{
  color:#d4c259;
}

#rm2 .more{
  background-color:#fafafa3a ;
}
#rm2 .more .twitter {
  width: 100%;
}
#rm2 .more .toggle.on  {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
}

#rm2 .more .toggle.on a {
  color: #636363;
}
#rm2 .more .toggle.on a:hover {
  font-weight: bolder;
}
#rm2 .more .toggle.on p {
  margin: 0 4%;
}

/*미디어 쿼리*/
@media (min-width:1024px) {
  
  
}
@media (max-width:930px) {
  #rm2 .tracklist .toggle_btn {
    font-size: 3vw;
    padding-top: 5px;
  }
  #rm2 .lyric pre{
    font-size: 2.5vw;
  }
  #rm2 #lyric_place{
    padding:0 20%;
  }
}
@media (max-width:700px) {
  #rm2 .more .toggle.on{
    flex-direction: column;
    padding: 0 25%;
  }
  #rm2 .more .toggle.on p {
    padding-top:8px ;
    font-size: 2.5vw;
  }
}
@media (max-width:560px) {
  #rm2 .mv_button p {
    font-size: 2vw;
  }
  #rm2 .behind {
    margin: 3vh 0 ;
  }
  
}
@media (max-width:340px) {
  #rm2 #lyric_place{
    padding:0 15%;
  }
  #rm2 .mv_button div {
    padding: 0;
  }
  #rm2 .mv_button p{
    margin: 2px;
    margin-bottom: 5px;
    font-size:1vw;
  }
}
@media (max-width:300px) {
  
 


}



